*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    transition: 0.4s;
    font-family: 'Nunito', sans-serif;
}
a{
    text-decoration: none;
}

/* Spin button------------> */
#spin{
    position: fixed;
    top: 50%;
    left: 0px;
    transform: translateY(-50%);
    z-index: 999999;
}
#spin a{
    text-align: center;
    padding: 10px;
    border-radius: 0px 6px 6px 0px;
    background-color: #6168FF;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 25px;
}
/* END Spin button  <<<<<<<<<<<<<<< */

/* To Top Button ---------------> */
body{
    position: relative;
}
#totop{
    position: fixed;
    right: 15px;
    bottom: 10%;
    z-index: 99999;
}
#totop a{
    padding: 15px;
    border-radius: 50%;
    background-color: #6168FF;
}
#totop a:hover{
    background-color: #212a42;
}
#totop a i{
    color: white;
    font-size: 17px;
    transform: rotate(-90deg);
}
/* END Top button  <<<<<<<<<<<<<<<<<< */


.sec{
    padding: 3rem 0;
}
.cls{
    width: 85%;
    margin: auto;
}
/* The header text of sections-------> */
.section-header{
    text-align: center;
    margin-bottom: 30px;
    position: relative;
}
.section-header h3{
    color: #efefef;
    font-size: 70px;
    position: absolute;
    letter-spacing: 1px;
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
    font-weight: 800;
    text-transform: uppercase;
}
.section-header h5{
    color: #6168FF;
    font-size: 15px;
    text-transform: uppercase;
}
.section-header h4{
    font-size: 27px;
    font-weight: 100;
    color: #333;
    text-transform: capitalize;
}
/* END Header text  <<<<<<<<<<<<<<<<< */


/* HEADER */
#header{
    position: fixed;
    width: 100%;
    z-index: 999999;
    background-color: white;
    top: 0;
    left: 0;
    box-shadow: 0 0 40px rgb(0 0 0 / 7%);
    opacity: 0.99;
}
#header .header{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}
#header .header .left{
    width: 50%;
}
#header .header .left a img{
    width: 150px;
}
#header .header ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}
#header .header ul li a{
    color: #666666;
    margin: 0px 18px;
    font-size: 16px;
    font-weight: 800;
}
#header .header ul li a:hover{
    color: #6168FF;
}
/* AMAZING */
#amazing{
    margin-top: 50px;
    background-image: url(../image/amazing1.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    color: white;
    padding: 11rem 0;
    position: relative;
    z-index: 5;
}
#amazing .icons{
    position: absolute;
    right: 20px;
    top: 40%;
    transform: translateX(-50%);
}
#amazing .icons .btn{
    padding: 20px;
    background-color: white;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    cursor: pointer;
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: 0;
    border: 0;
    margin: 10px 0;
}
#amazing .icons .btn:hover{
    background-color: #6168FF;
}
#amazing .icons .btn:hover i{
    color: white;
}
#amazing .icons .btn i{
    color: #6168FF;
    font-size: 13px;
}
#amazing .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(1, 1, 1, 0.5);
    z-index: -1;
}
#amazing h4{
    font-size: 20px;
    margin-bottom: 17px;
}
#amazing h1{ 
    font-size: 56px;
    margin-bottom: 55px;
}
#amazing a{
    background-color: #6168FF;
    border: 2px solid #6168FF;
    border-radius: 4px;
    color: #fff;
    font-size: 13px;
    padding: 13px 30px;
    font-weight: 800;
    letter-spacing: 1px;
    text-transform: uppercase;
}
#amazing a:hover{
    border: 2px solid white;
    background-color: transparent;
}
/* ACTIVITIES */
#activities .activities{
    display: flex;
    justify-content: center;
    align-items: center;
}
#activities .activities .cards{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 50%;
}
#activities .activities .cards .card{
    width: 50%;
    padding: 20px;
}
#activities .activities .cards .card i{
    font-size: 50px;
    color: #6168FF;
}
#activities .activities .cards .card h4{
    font-size: 18px;
    margin: 12px 0;
    letter-spacing: 1px;
    color: #333;
}
#activities .activities .cards .card p{
    font-size: 15px;
    color: #666;
    line-height: 1.8;
}
#activities .activities .image{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    box-shadow: 18px 18px 26px 0 rgb(0 1 1 / 20%);
}
#activities .activities .image img{
    width: 100%;
}
#activities .activities .image i{
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: #6168FF;
    font-size: 50px;
    color: white;
    padding: 20px;
    border-radius: 50%;
    transform: translate(-50%,-50%);
    cursor: pointer;
}
#activities .activities .image i:hover{
    background-color: #212a42;
}
/* DESTINATION */
#destination .destination{
    position: relative;
}
#destination .destination .left{
    left: -20px;
}
#destination .destination .right{
    right: -20px;
}
#destination .destination .icon{
    position: absolute;
    top: 50%;
    display: inline-block;
    background-color: #6168FF;
    padding: 20px;
    cursor: pointer;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 15px;
}
#destination .destination .cards{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
#destination .destination .cards .card{
    width: 30%;
    margin: 10px;
    position: relative;
    border: 1px solid #ebe6de;
    border-radius: 5px;
    color: #727272;
    cursor: pointer;
}
#destination .destination .cards .card .card-text{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: white;
    padding: 20px;
}
#destination .destination .cards .card .card-text .top{
    display: flex;
    justify-content: space-between;
}
#destination .destination .cards .card .card-text .top h4{
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 10px;
    color: #333;
}
#destination .destination .cards .card .image img{
    width: 100%;
}
/* SERVICES */
#services .services .cards{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
#services .services .cards .card{
    width: 31%;
    margin: 10px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    background-color: #F4F9FF;
}
#services .services .cards .card .icon{
    width: 25%;
    margin-right: 20px;
}
#services .services .cards .card .icon i{
    font-size: 50px;
    color: #6168FF;
    margin-right: 20px;   
}
#services .services .cards .card .card-text h4{
    font-size: 20px;
    color: #333;
    margin-bottom: 20px;
}
#services .services .cards .card .card-text p{
    font-size: 15px;
    color: #666666;
    line-height: 1.8;
}
/* GALLERY */
#gallery .gallery .cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
#gallery .gallery .cards .card{
    width: 31%;
    margin: 10px;
    position: relative;
}
#gallery .gallery .cards .card .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}
#gallery .gallery .cards .card:hover .overlay{
    background-color: #6169ffa6;
}
#gallery .gallery .cards .card .overlay p{
    font-size: 20px;
    font-weight: 800;
    color: white;
    position: absolute;
    opacity: 0;
    top: 100%;
    left: 50%;
    transform: translate(-50%,0);
}
#gallery .gallery .cards .card:hover p{
    top: 50%;
    transform: translate(-50%,-50%);
    opacity: 1;
}
#gallery .gallery .cards .card .overlay a{
    position: absolute;
    bottom: 15px;
    right: 0px;
    width: 45px;
    height: 45px;
    font-size: 15px;
    border-radius: 50%;
    opacity: 0;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
#gallery .gallery .cards .card:hover .overlay a{
    right: 15px;
    opacity: 1;
}
#gallery .gallery .cards .card .overlay a:hover{
    background-color: #333;
}
#gallery .gallery .cards .card .overlay a:hover i{
   color: white;
}
#gallery .gallery .cards .card .image{
    width: 100%;
}
#gallery .gallery .cards .card .image img{
    width: 100%;
    vertical-align: bottom;
}
/* PACKAGE */
#package .package .cards{
    display: flex;
    justify-content: center;
    align-items: center;
}
#package .package .cards .card{
    width: 31%;
    margin: 10px;
    box-shadow: 0 0 20px rgb(0 0 0 / 3%);
    border-radius: 4px;
    border: 1px solid #ebe6de;
}
#package .package .cards .card .image img{
    width: 100%;
}
#package .package .cards .card .text{
    position: relative;
    padding: 30px;
    color: #333;
}
#package .package .cards .card .text .icons i{
    color: #fec42d;
    margin: 10px 0px;
    font-size: 13px;
}
#package .package .cards .card .text h4{
    font-size: 18px;
    margin-bottom: 15px;
    text-transform: capitalize;
    font-weight: 900;
}
#package .package .cards .card .text span{
    font-size: 15px;
    margin-right: 5px;
}
#package .package .cards .card .text span i{
    margin: 0px 5px;
    font-size: 13px;
}
#package .package .cards .card .text .person{
    font-size: 16px;
    padding: 12px 15px;
    border-radius: 30px;
    position: absolute;
    top: -35px;
    right: 10px;
    background-color: #6168FF;
    color: white;
    margin: 0px;
}
#package .package .cards .card:hover .person{
    background-color: #212a42;
}
/* CAROUSEL */
#carousel{
    background-image: url(../image/carousel.png);
    background-position: center;
    background-size: cover;
    background-color: #6169ffec;
}
#carousel .slider{
    display: flex;
    justify-content: center;
    align-items: center;
}
#carousel .slider .slide{
    width: 15%;
    margin: 10px;
    padding: 0px 10px;
    background-color: white;
    border-radius: 5px;
}
#carousel .slider .slide img{
    width: 100%;
}
/* TESTIMONIAL */
#testimonial .testimonial .cards{
    display: flex;
    justify-content: center;
    align-items: center;
}
#testimonial .testimonial .icons-lr{
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
}
#testimonial .testimonial .icons-lr i{
    margin: 0px 10px;
    cursor: pointer;
    font-size: 20px;
    color: #333;
}
#testimonial .testimonial .cards .card{
    width: 32%;
    margin: 10px;
    border-radius: 5px;
    color: #333;
    padding: 40px 25px;
    background-color: #F4F9FF;
    text-align: center;
}
#testimonial .testimonial .cards .card .image{
    display: inline-block;
    position: relative;
}
#testimonial .testimonial .cards .card .image .main{
    border-radius: 50%;
    width: 100px;
    height: 100px;
}
#testimonial .testimonial .cards .card .image .down{
    position: absolute;
    right: 0px;
    bottom: 0px;
    background-color: #6168FF;
    padding: 10px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
}
#testimonial .testimonial .cards .card .text p{
    margin: 20px 0;
    font-size: 18px;
}
#testimonial .testimonial .cards .card .text h4{
    font-size: 18px;
    margin: 10px 0;
}
#testimonial .testimonial .cards .card .text span{
    font-size: 15px;
    text-transform: uppercase;
}
#testimonial .testimonial .cards .card .text .icons{
    padding: 10px 0;
}
#testimonial .testimonial .cards .card .text .icons i{
    color: #ffc000;
    font-size: 14px;
}
/* BLOG */
#blog .blog .cards{
    display: flex;
    justify-content: center;
    align-items: center;
}
#blog .blog .cards .card{
    width: 32%;
    margin: 10px;
    box-shadow: 0 0 20px rgb(0 0 0 / 3%);
    border-radius: 5px;
    border: 1px solid #ebe6de;
}
#blog .blog .cards .card .image img{
    width: 100%;
}
#blog .blog .cards .card .text{
    padding: 30px;
    color: #333;
}
#blog .blog .cards .card .text span{
    font-size: 14px;
}
#blog .blog .cards .card .text span i{
    margin-right: 10px;
}
#blog .blog .cards .card .text p{
    font-size: 23px;
    font-weight: 700;
    line-height: 1.5;
    margin: 15px 0;
}
/* CONTACT */
#contact .contact{
    width: 50%;
}
#contact .contact #form .form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: #F4F9FF;
    padding: 55px 40px;
    border-radius: 4px;
}
#contact .contact #form .form .input{
    width: 33.3%;
    padding: 20px 10px;
}
#contact .contact #form .form .full{
    width: 100%;
}
#contact .contact #form .form .inp{
    width: 100%;
    padding: 13px 23px;
    border-radius: 4px;
    background-color: #fff;
    outline: 0;
    border: 1px solid white;
    font-size: 16px;
}
#contact .contact #form .form .inp:focus{
    border: 1px solid #6168FF;
}
#contact .contact #form .form .full .message{
    width: 100%;
}
#contact .contact #form .form .btn{
    margin: auto;
    background-color: #6168FF;
    border: 2px solid #6168FF;
    color: #fff;
    font-size: 13px;
    padding: 12px 30px;
    text-transform: uppercase;
    transition: all 0.3s ease 0s;
    font-weight: 700;
    border-radius: 4px;
    display: inline-block;
    cursor: pointer;
}
#contact .contact #form .form .btn:hover{
    background-color: #211E3B;
    border: 2px solid #211E3B;
}
/* FOOTER */
#footer{
    padding: 250px 0 40px;
    background-color: #00102A;
    color: #fff;
    clip-path: polygon(0 250px, 100% 0, 100% 100%, 0% 100%);
}
#footer .footer .cards{
    display: flex;
    justify-content: center;
    align-items: center;
}
#footer .footer .cards .card{
    width: 25%;
}
#footer .footer .cards .card ul{
    list-style: none;
    padding: 20px;
}
#footer .footer .cards .card ul li{
    font-size: 15px;
    margin-bottom: 15px;
}
#footer .footer .cards .card ul li i{
    margin-right: 10px;
    font-size: 18px;
}
#footer .footer .cards .card ul li h3{
    font-size: 17px;
    text-transform: uppercase;
    margin-bottom: 25px;
}
#footer .footer .cards .card ul li img{
    width: 60%;
    margin-bottom: 10px;
}
#footer .footer .cards .card ul li a{
    color: white;
}
#footer .footer .cards .card ul li a:hover{
    color: #6168FF;
}
#footer .footer .cards .card ul li p{
    line-height: 2;
}
#footer .footer .cards .card ul li input{
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-weight: 400;
    color: #212529;
    border: 1px solid #ced4da;    
    height: 45px;
    border-radius: 5px;
    outline: 0;
}
#footer .footer .cards .card ul li input:focus{
    border: 1px solid #6168FF;   
}
#footer .footer .cards .card ul li .btn{
    background-color: #6168FF;
    border: 2px solid #6168FF;
    color: #fff;
    font-size: 13px;
    padding: 12px 30px;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 4px;
    cursor: pointer;
}
#footer .footer .cards .card ul li .btn:hover{
    background-color: white;
    color: #333;
    border: 2px solid white;
}
#footer .footer .bottom{
    text-align: center;
    padding: 20px 0;
    border-top: 1px solid rgb(247, 243, 243 , 0.3);
    font-size: 15px;
}
#footer .footer .bottom .icons i{
    font-size: 18px;
    color: #6168FF;
    margin: 20px 6px;
}
#footer .footer .bottom .icons i:hover{
    color: white;
}

